body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F5FC;
    color: #05428d;
    font-style: normal;
}
h2 {

    text-align: center;
    padding: 20px 0;
    margin: auto;
}

p{
  font-family: 'Montserrat', sans-serif;
    background-color: #F3F5FC;
    color: #05428d;
    font-style: normal;
    margin: 15px 25px;
}

.consejos{
    list-style: none;
    margin: auto;
}  

.consejos:before{
    content:"★"
}

.encriptar {
    position: relative;
    width: 100vw;
    height: 100vh;

  }

  .entrada {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: 'Montserrat', sans-serif;color: #05428d;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
    resize: none;
    
  }
  .entrada:focus,
.entrada    :active {
  border: none;
  outline: none;
}
  

.encriptado {
    color:aliceblue;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 98%;
    left: 60%;
    top: 30%;
    background:url(imagenes/muneco.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: center;
   
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
  }
  
  .mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
  }
  
  
  
  .salida {
    background: transparent;
    width: 80%;
    font-family: 'Montserrat', sans-serif;color: #05428d;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    border: none;
    
  }

  .salida:focus,
.salida:active {
  border: none;
  outline: none;
}

.botones{
  display: flex;
  font-family: 'Montserrat', sans-serif;color: #05428d;
  font-size: 12px;
  grid-gap: 50px 70px;
  width: 175px;
  height: 50px;
 margin: 5% 10%;
  
}

#botonencriptar{
  flex: 1 1 auto;
  border-radius: 15%;
}

#botonencriptar:hover,
#botonencriptar:hover {
  transform: scale(1.2);
  background-color:rgb(92, 92, 216);
  font-family: 'Montserrat', sans-serif;color: aliceblue;
    
}

#botondesencriptar{
  flex: 1 1 auto;
  border-radius: 15%;
}

#botondesencriptar:hover,
#botondesencriptar:hover {
  transform: scale(1.2);
  background-color:rgb(92, 92, 216);
  font-family: 'Montserrat', sans-serif;color: aliceblue;
    
}

#botoncopiar{
  flex: 1  1 rigth;
  border-radius: 15%;
}

#botoncopiar:hover,
#botoncopiar:hover {
  transform: scale(1.2);
  background-color:rgb(92, 92, 216);
  font-family: 'Montserrat', sans-serif;color: aliceblue;
    
}
    


  .copy{
    color: #0a3871;
    font-size: 13px;
    margin: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}











