body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F5FC;
    color: #05428d;
    font-style: normal;
}
h2 {

    text-align: center;
    padding: 20px 0;
    margin: auto;
}

p{
  font-family: 'Montserrat', sans-serif;
    background-color: #F3F5FC;
    color: #05428d;
    font-style: normal;
    margin: 15px 25px;
}

.consejos{
    list-style: none;
    margin: auto;
}  

.consejos:before{
    content:"★"
}



  .text-input {
    position: relative;
    width: 42%;
    height: 250px;
    left: 12%;
    top: 15%;
    border: none;
    font-family: 'Montserrat', sans-serif;color: #05428d;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
    resize: none;
    
  }
  .text-input:focus,
.text-input    :active {
  border: none;
  outline: none;
}

.botones{
  display: flex;
  grid-gap: 50px 70px;
  width: 175px;
  height: 50px;
 margin: 5% 10%;
}

#btn-encriptar{
  flex: 1 1 auto;
  border-radius: 35%;
  background-color:hwb(213 55% 19%);
  font-family: 'Montserrat', sans-serif;color: hsl(213, 96%, 20%);
  font-size: auto;
  grid-gap: 50px 70px;
  width: 120px;
  height: 95px;
 margin: 5% 10%;

}


#btn-encriptar:hover,
#btn-encriptar:hover {
  transform: scale(1.2);
  background-color:rgb(92, 92, 216);
  font-family: 'Montserrat', sans-serif;color: aliceblue;
    
}

#btn-desencriptar{
  flex: 1 1 auto;
  border-radius: 35%;
  background-color:hwb(213 55% 19%);
  font-family: 'Montserrat', sans-serif;color: hsl(213, 96%, 20%);
  font-size: auto;
  grid-gap: 50px 70px;
  width: 120px;
  height: 95px;
  margin: 5% 10%;

}

#btn-desencriptar:hover,
#btn-desencriptar:hover {
  transform: scale(1.2);
  background-color:rgb(92, 92, 216);
  font-family: 'Montserrat', sans-serif;color: aliceblue;
    
}

#btn-copy{
  flex: 1 1 auto;
  border-radius: 35%;
  background-color:hwb(213 55% 19%);
  font-family: 'Montserrat', sans-serif;color: hsl(213, 96%, 20%);
  font-size: auto;
  grid-gap: 50px 70px;
  width: 140px;
  height: 95px;
 margin: 5% 10%;

}

#btn-copy:hover,
#btn-copy:hover {
  transform: scale(1.2);
  background-color:rgb(92, 92, 216);
  font-family: 'Montserrat', sans-serif;color: aliceblue;
    
}


#msg{
  
    width: 80%;
    border-radius: 20%;
    font-family: 'Montserrat', sans-serif;
    font-style: oblique;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color:hsl(212, 95%, 8%);
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 98%;
    left: 60%;
    top: 30%;
    
}
#msg,
#msg:active {
  border: none;
  outline: none;
}

.contenedormuneco img {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 15%;
  display: flex;
  justify-content: center;
  position: absolute;
}
  




  .copy{
    color: #0a3871;
    font-size: 13px;
    margin: 150px;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
}











